

@{
    ViewBag.UserName = User.Identity.Name;
}
<head>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abel|Abel:b">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Ops - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="~/images/icons/favicon.ico">
<link rel="apple-touch-icon" href="~/images/icons/favicon.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/favicon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/favicon-114x114.png">
<!--Loading bootstrap css-->
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
<link type="text/css" rel="stylesheet" href="~/styles/jquery-ui-1.10.4.custom.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/animate.css">
<link type="text/css" rel="stylesheet" href="~/styles/all.css">
<link type="text/css" rel="stylesheet" href="~/styles/main.css">
<link type="text/css" rel="stylesheet" href="~/styles/style-responsive.css">
<link type="text/css" rel="stylesheet" href="~/styles/zabuto_calendar.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/pace.css">
<link type="text/css" rel="stylesheet" href="~/styles/jquery.news-ticker.css">
<link type="text/css" rel="stylesheet" href="~/styles/jplist-custom.css">
<link type="text/css" rel="stylesheet" href="~/styles/nestable.css">
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">




<!--BEGIN BACK TO TOP-->
<a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
<!--END BACK TO TOP-->
<!--BEGIN SIDEBAR MENU-->
<nav id="sidebar" role="navigation" data-step="2"
     data-position="right" class="navbar-default navbar-static-side" style="min-height: 100%">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">

            <div class="clearfix"></div>

            <li style="min-height: 50px">
            </li>

            <li class="@((ViewBag.PageName == "Dashboard") ? "active" : "")">
                <a href="~/Home/Dashboard">
                    <i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span>
                </a>
            </li>



            <li class="@((ViewBag.PageName == "Servers") ? "active" : "")">
                <a href="~/Servers/Index">
                    <i class="fa fa-server fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Servers</span>
                </a>

            </li>
            <li class="@((ViewBag.PageName == "Applications") ? "active" : "")">
                <a href="~/Applications/Index">
                    <i class="fa fa-code fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Applications</span>
                </a>

            </li>

            <li class="@((ViewBag.PageName == "Deployments") ? "active" : "")">
                <a href="~/Deployments/Index">
                    <i class="fa fa-truck fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Deployment History</span>
                </a>

            </li>

            <li class="@((ViewBag.PageName == "Status") ? "active" : "")">
                <a href="~/Deployments/Status">
                    <i class="fa fa-pied-piper fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Deployment Status</span>
                </a>

            </li>

            <li class="@((ViewBag.PageName == "Statistics") ? "active" : "")">

                <a href="~/Deployments/Statistics">
                    <i class="fa fa-bar-chart fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Deployment Statistics</span>
                </a>

            </li>

            <li>
                <a href="~/Home/Dashboard#bars">
                    <i class="fa fa-align-left fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Automation Progress</span>
                </a>

            </li>

            <li class="@((ViewBag.PageName == "Teams") ? "active" : "")">
                <a href="~/Teams/Index">
                    <i class="fa fa-users fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Teams</span>
                </a>

            </li>

            @if (ViewBag.UserTeam != null && ViewBag.UserTeam == "5") {
                <li class="@((ViewBag.PageName == "Forms") ? "active" : "")">
                    <a href="~/Form/FormSelect">
                        <i class="fa fa-pencil-square-o fa-fw">
                            <div class="icon-bg bg-blue"></div>
                        </i><span class="menu-title">Forms</span>
                    </a>

                </li>
            }


            @if (ViewBag.UserTeam != null && ViewBag.UserTeam == "5") {
                <li class="@((ViewBag.PageName == "Environment Refresh") ? "active" : "")">
                    <a href="~/EnvironmentRefresh/Index">
                        <i class="glyphicon glyphicon-refresh">
                            <div class="icon-bg bg-blue"></div>
                        </i><span class="menu-title">Environment Refresh</span>
                    </a>

                </li>
            }
        </ul>

    </div>
</nav>
<!--BEGIN TOPBAR-->
<div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a id="logo" href="~/Home/Dashboard" class="navbar-brand" style="padding: 2px"><span class="fa fa-rocket"></span><span class="logo-text"><img src="~/images/icons/devops.png" style="width: 75%; padding: 0px" /></span><span style="display: none" class="logo-text-icon">µ</span></a>
        </div>
        <div class="topbar-main">
            <a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
            @*
                <form id="topbar-search" action="" method="" class="hidden-sm hidden-xs">
                    <div class="input-icon right text-white"><a href="#"><i class="fa fa-search"></i></a><input type="text" placeholder="Search here..." class="form-control text-white" /></div>
                </form>
            *@
            @*<div class="news-update-box hidden-xs">
                    <span class="text-uppercase mrm pull-left text-white">News:</span>
                    <ul id="news-update" class="ticker list-unstyled">
                        <li>Welcome to the VinSolutions DevOps Portal</li>
                        <li>This site was created by DevOps intern Alex Haynes</li>
                        <li>Use the sidebar navigation to view the server or applications list</li>
                        <li>Contact alexander.haynes@vinsolutions.com with any questions or feature requests</li>

                    </ul>
                </div>*@

            <ul class="nav navbar navbar-top-links navbar-right mbn">
                <li class="dropdown topbar-user">
                    <a data-hover="dropdown" href="../User/Account" class="dropdown-toggle">&nbsp; <i class="fa fa-user" style="padding-right: 8%"></i><span class="hidden-xs">@(User.Identity.Name)</span>&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-user pull-right">
                        <li><a href="../User/Account"><i class="fa fa-user"></i>My Profile</a></li>
                        <li><a href="~/User/MyTeams"><i class="fa fa-users"></i>My Teams</a></li>
                        <li><a href="~/User/MyApps"><i class="fa fa-code"></i>My Apps</a></li>

                        @*<li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
                            <li><a href="#"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="Login.html"><i class="fa fa-key"></i>Log Out</a></li>*@
                    </ul>
                </li>
                @*<li id="topbar-chat" class="hidden-xs"><a href="javascript:void(0)" data-step="4" data-intro="&lt;b&gt;Form chat&lt;/b&gt; keep you connecting with other coworker" data-position="left" class="btn-chat"><i class="fa fa-comments"></i><span class="badge badge-info">3</span></a></li>*@
            </ul>

        </div>
    </nav>
    <!--BEGIN MODAL CONFIG PORTLET-->
    <div id="modal-config" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Modal title
                    </h4>
                </div>
                <div class="modal-body">
                    <p>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL CONFIG PORTLET-->
</div>
<!--END TOPBAR-->
<!--BEGIN BACK TO TOP-->
<a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
<!--END BACK TO TOP-->
<div>
    <div id="page-wrapper">
        @RenderBody()
    </div>
    <div id="area-chart-spline" style="width: 1%; height: 300px; color: #ffffff">
    </div>
</div>
@DateTime.Now.Year © VinSolutions DevOps - Created by DevOps Intern Alex Haynes - v4.0.~
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/script/SetCurrentDateTime.js"></script>
@RenderSection("scripts", required: false)
@RenderSection("MyScripts", required: false)
@section Scripts{

    @*<script src="~/script/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/script/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/script/jquery-ui.js"></script>
        <script src="~/script/bootstrap.min.js"></script>
        <script src="~/script/bootstrap-hover-dropdown.js"></script>
        <script src="~/script/html5shiv.js"></script>
        <script src="~/script/respond.min.js"></script>
        <script src="~/script/jquery.metisMenu.js"></script>
        <script src="~/script/jquery.slimscroll.js"></script>
        <script src="~/script/jquery.cookie.js"></script>
        <script src="~/script/icheck.min.js"></script>
        <script src="~/script/custom.min.js"></script>*@
    @*<script src="~/script/jquery.news-ticker.js"></script>*@
    <script src="~/script/jquery.menu.js"></script>
    @*<script src="~/script/pace.min.js"></script>*@
    <script src="~/script/holder.js"></script>
    <script src="~/script/responsive-tabs.js"></script>
    <script src="~/script/jquery.flot.js"></script>
    <script src="~/script/jquery.flot.categories.js"></script>
    <script src="~/script/jquery.flot.pie.js"></script>
    <script src="~/script/jquery.flot.tooltip.js"></script>
    <script src="~/script/jquery.flot.resize.js"></script>
    <script src="~/script/jquery.flot.fillbetween.js"></script>
    <script src="~/script/jquery.flot.stack.js"></script>
    <script src="~/script/jquery.flot.spline.js"></script>
    <script src="~/script/zabuto_calendar.min.js"></script>
    <script src="~/script/index.js"></script>
    <srcipt src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></srcipt>
    <!--LOADING SCRIPTS FOR CHARTS-->
    @*<script src="~/script/highcharts.js"></script>
        <script src="~/script/data.js"></script>
        <script src="~/script/drilldown.js"></script>
        <script src="~/script/exporting.js"></script>
        <script src="~/script/highcharts-more.js"></script>
        <script src="~/script/charts-highchart-pie.js"></script>
        <script src="~/script/charts-highchart-more.js"></script>*@
    <!--CORE JAVASCRIPT-->
    <script src="~/script/main.js"></script>

}