@model DevOpsPortal.Models.CodeDeployRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CodeDeployRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DBDeployRequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBDeployRequestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Environment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Environment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeployType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeployType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JenkinsBuild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenkinsBuild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DINumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DINumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TFSWorkItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TFSWorkItems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeployDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeployDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestableInQA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestableInQA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QAReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QAReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QAMitigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QAMitigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QAIdentifyFailure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QAIdentifyFailure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QAFailureImpact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QAFailureImpact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QADataImpact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QADataImpact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QAFailureResolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QAFailureResolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QATester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QATester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodeDeployRequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
